@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clean up default MapLibre Popup white spaces */
.maplibregl-popup-content {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

/* Optional: Smooth transition for map interactions */
.maplibregl-canvas {
  outline: none;
}